<%= form_for([@report.volunteers, @report]) do |f| %>
  <% if @report.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@report.errors.count, "error") %> prohibited this report from being saved:</h2>

      <ul>
      <% @report.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :date %><br />
    <%= f.text_field :date %>
  </div>
  <div class="field">
    <%= f.label :rc %><br />
    <%= f.text_field :rc %>
  </div>
  <div class="field">
    <%= f.label :ec %><br />
    <%= f.text_field :ec %>
  </div>
  <div class="field">
    <%= f.label :rm %><br />
    <%= f.text_field :rm %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
