<h1>Listing reports</h1>

<table>
  <tr>
    <th>Date</th>
    <th>Rc</th>
    <th>Ec</th>
    <th>Rm</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @reports.each do |report| %>
  <tr>
    <td><%= report.date %></td>
    <td><%= report.rc %></td>
    <td><%= report.ec %></td>
    <td><%= report.rm %></td>
    <td><%= link_to 'Show', [report.volunteers, report] %></td>
    <td><%= link_to 'Edit', edit_volunteers_report_path(report.volunteers, report) %></td>
    <td><%= link_to 'Destroy', [report.volunteers, report], :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Report', new_volunteers_report_path(params[:volunteers_id]) %>
