<p id="notice"><%= notice %></p>

<p>
  <b>Date:</b>
  <%= @report.date %>
</p>

<p>
  <b>Rc:</b>
  <%= @report.rc %>
</p>

<p>
  <b>Ec:</b>
  <%= @report.ec %>
</p>

<p>
  <b>Rm:</b>
  <%= @report.rm %>
</p>


<%= link_to 'Edit', edit_volunteers_report_path(@report.volunteers, @report) %> |
<%= link_to 'Back', volunteers_reports_path(@report.volunteers) %>
